body {
    font-family: 'Montserrat', sans-serrif;
}

div.centeringContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

div.content {
    width: 1200px;
}

p {
    font-weight: bold;
}
