@keyframes menuItemTextAnimation {
    from {
	position: relative;
	top: 100px;
	color: white;
    }
    to {
	position: relative;
	top: 0px;
	color: black;
    }
}

body {
    font-family: 'Montserrat', sans-serrif;
}

div#portraitBox {
    width: 100vw;
    height: 34dvh;
    clip-path: polygon(0 0, 100% 0, 50% 50%, 0% 100%);
}

div#nameBox {
    display: flex;
    justify-content: center;
}

h1#nameText {
    font-size: 8dvh;
    margin: 0px;
}

img#selfPortrait {
    width: 100vw;
    height: 34dvh;
}

div.overview {
    height: 34dvh;
}

div.menuItem {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 21dvh;
}

a.menuItemText {
    font-size: 8dvh;
    animation-name: menuItemTextAnimation;
    animation-duration: 1.5s;
    animatation-iteration-count: infinite;
    color: black;
}

a.menuItemText:visited {
    color: black;
}

hr.menuItemDivider {
    width: 90vw;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    color: #C0C0C0
}
