div.navbar {
    position: fixed;
    top: 25px;
    left: 0;
    width: calc((100vw - 1200px)/2);
    display: flex;
    flex-direction: column;
    align-items: center;
}

a.navlink {
    display: block;
    font-size: 30px;
    margin-bottom: 10px;
    font-weight: bold;
}

a.navlink:visited {
    display: block;
    color: black;
}
